
:root {
    --colorColorSnBlack: #040a1e;    
    --colorColorSnBlue: #0f62fe;    
    --colorColorTeal: #00ffc2;    
    --colorColorPurple: #7000ff;    
    --colorColorPink: #ff00ff;    
    --colorColorYellow: #ffde69;    
    --colorColorTest: var(--colorColorTeal);    
}